bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg

Debug
bam
build server.bat
buildlog.txt
autoexec.cfg
bam.exe
*.cmd
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.dll
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.orig
*DDRace*

/other/icons/*.coff
